* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    @include breakpoints($tablet) {
        font-size: 55%;
    }
}

img {
    width: 100%;
}

input {
    outline: none;
    border: none;
}

button {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: #000;
}