@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

img {
  width: 100%; }

input {
  outline: none;
  border: none; }

button {
  outline: none;
  border: none; }

a {
  text-decoration: none;
  color: #000; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.icon--search {
  color: #fff;
  font-size: 1.5rem; }
  .icon--search-box {
    background: #050505;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7%; }

.icon--edit {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem; }
  .icon--edit:hover {
    color: #fff; }

.icon--settings {
  font-size: 1.8rem; }
  .icon--settings:hover {
    cursor: pointer;
    color: #1B9AAA; }

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  justify-content: center; }
  .search__form {
    width: 50rem;
    display: flex;
    align-items: stretch; }
  .search__input {
    width: 93%;
    border: .1rem solid #000;
    background: #DDDBCB;
    padding: 1rem 1.5rem;
    font-size: 1.5rem; }
  .search__title {
    font-size: 3rem; }
    .search__title span {
      color: #1B9AAA; }

.btn {
  padding: 1rem;
  background: #1B9AAA;
  color: #fff;
  border-radius: 1rem; }
  .btn--delete {
    background: red; }

.jobCard {
  display: flex;
  position: relative;
  gap: 1rem;
  padding: 1rem;
  width: 24.5rem;
  background: #F5F1E3;
  border-radius: 1rem;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.1); }
  .jobCard:hover {
    background: #1B9AAA;
    color: #fff; }
    .jobCard:hover .jobCard__link {
      color: #fff; }
  .jobCard__details {
    display: flex;
    flex-direction: column;
    gap: .5rem; }
  .jobCard__company {
    font-size: 1.3rem; }
  .jobCard__description {
    font-size: 1.1rem; }
  .jobCard__link {
    position: absolute;
    right: 1rem;
    bottom: .2rem;
    color: #1B9AAA;
    text-decoration: underline;
    font-size: 1.2rem; }
    .jobCard__link:hover {
      text-decoration: none; }

.jobs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50rem; }
  .jobs__title {
    font-size: 3.5rem; }

.header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__links {
    display: flex;
    gap: 1rem;
    align-items: center; }
  .header__link {
    font-size: 1.5rem; }
    .header__link:hover {
      color: #1B9AAA;
      cursor: pointer; }
  .header .logo {
    width: 7rem; }

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 8rem);
  justify-content: center;
  gap: 2rem; }

.auth {
  min-height: calc(100vh - 7rem);
  display: flex;
  align-items: center;
  justify-content: center; }
  .auth__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 1rem; }
    .auth__form label {
      font-size: 1.3rem; }
  .auth__title {
    font-size: 3rem; }
  .auth__input {
    border: 0.1rem solid rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    font-size: 1.3rem;
    padding: .5rem 1rem;
    width: 25rem; }
  .auth__error {
    color: red;
    font-size: 1.3rem; }

.jobForm {
  display: flex;
  justify-content: center;
  padding: 2rem; }
  .jobForm__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.3rem; }
  .jobForm__input {
    padding: .5rem 1rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.5);
    outline: none; }
    .jobForm__input:focus {
      border: 0.1rem solid #1B9AAA; }

.job {
  display: flex;
  justify-content: center;
  padding: 0 2rem; }
  .job__details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 50rem; }
  .job__title {
    font-size: 3rem; }
  .job__author {
    font-size: 1.5rem; }
  .job__description {
    font-size: 1.3rem; }

.profile {
  display: flex;
  justify-content: center; }
  .profile__details {
    width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem; }
  .profile__name {
    font-size: 3.5rem; }
  .profile__title {
    font-size: 3rem; }

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem; }
  .settings label {
    font-size: 1.3rem; }
  .settings__input {
    border: 0.1rem solid rgba(0, 0, 0, 0.5);
    padding: .5rem 1rem;
    width: 25rem; }
  .settings__error {
    color: red;
    font-size: 1.3rem; }
